

body {
  background-color: #0c2111;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 20px;
}

.image {
  flex: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

audio {
  width: 220px;
  gap: 20px;

}

.text {
  flex:400px;
  background-color: #142a1b;
  padding: 25px;
  border: 1px solid #2e4a37;
  border-radius: 6px;
  text-align: center;
}


